body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 25px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-top,
.header-btm {
    width: 75%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.subtitle {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext,
a {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
}

.header-btm {
    display: flex;
    gap: 16px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    background-color: #3882f6;
    border: none;
    padding: 8px 24px;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.modal-button {
    background-color: #3882f6;
    border: solid white 2px;
    padding: 8px 24px;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.header-btm img {
    height: 300px;
    width: auto;
}


.top-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 25px;
}

.mid-body {
    background-color: #e5e7eb;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 175px;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}

.btm-body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 175px;
}

.modal {
    display: flex;
    background-color: #3882f6;
    padding: 50px 50px;
    justify-content: space-between;
    width: 900px;
    border-radius: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.top-body ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-body .img-list img {
    width: 200px;
    height: 200px;
    border: solid 3px #3882f6;
    border-radius: 25px;
}

.top-body .img-list div {
    color: rgb(73, 73, 73);
    font-size: 20px
}